<%= form_for @salesforceuser, :html => { :class => "w3-container"} do |f| %>
  <% if @salesforceuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesforceuser.errors.count, "error") %> prohibited this salesforceuser from being saved:</h2>

      <ul>
      <% @salesforceuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :class => 'w3-input' %>
    <%= f.label :name %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :alias, :class => 'w3-input' %>
    <%= f.label :alias %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => 'w3-input' %>
    <%= f.label :email %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :username, :class => 'w3-input' %>
    <%= f.label :username %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :communitynickname, :class => 'w3-input' %>
    <%= f.label :communitynickname %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :title, :class => 'w3-input' %>
    <%= f.label :title %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :company, :class => 'w3-input' %>
    <%= f.label :company %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :department, :class => 'w3-input' %>
    <%= f.label :department %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :division, :class => 'w3-input' %>
    <%= f.label :division %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :address, :class => 'w3-input' %>
    <%= f.label :address %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :timezone, :class => 'w3-input' %>
    <%= f.label :timezone %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :locale, :class => 'w3-input' %>
    <%= f.label :locale %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :language, :class => 'w3-input' %>
    <%= f.label :language %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :delegatedapprover, :class => 'w3-input' %>
    <%= f.label :delegatedapprover %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :manager, :class => 'w3-input' %>
    <%= f.label :manager %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :role, :class => 'w3-input' %>
    <%= f.label :role %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :userlicense, :class => 'w3-input' %>
    <%= f.label :userlicense %><p></p><br>
  </div>
  <div class="field">
    <%= f.text_field :profile, :class => 'w3-input' %>
    <%= f.label :profile %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :active, :class => 'w3-input' %>
    <%= f.label :active %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :marketinguser, :class => 'w3-input' %>
    <%= f.label :marketinguser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :offlineuser, :class => 'w3-input' %>
    <%= f.label :offlineuser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :knowledgeuser, :class => 'w3-input' %>
    <%= f.label :knowledgeuser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :forcecomflowuser, :class => 'w3-input' %>
    <%= f.label :forcecomflowuser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :serviceclouduser, :class => 'w3-input' %>
    <%= f.label :serviceclouduser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :sitecomcontributoruser, :class => 'w3-input' %>
    <%= f.label :sitecomcontributoruser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :sitecompublisheruser, :class => 'w3-input' %>
    <%= f.label :sitecompublisheruser %><p></p><br>
  </div>
  <div class="field">
    <%= f.check_box :mobileuser, :class => 'w3-input' %>
    <%= f.label :mobileuser %><p></p><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
